<%= content_for(:title) do %>
Funai - Dashboard for <%= current_user.store_number %>
<% end %>
<% if flash.nil? %>
<% elsif flash[:notice]%>
<% else %>
  <% flash.clear %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h1>Welcome, <%= current_user.first_name %></h1>
      <h2>Dashboard</h2>
      <% if current_user.admin %>
        <%= link_to  shipping_returns_path do %>
          <h4>Approval and Shipping</h4>
        <% end %>
        <%= link_to  admin_dashboard_path do %>
          <h4>Admin Dashboard</h4>
        <% end %>
      <% else %>
        <%= link_to new_return_path do%>
          <h4>Create Return</h4>
        <% end %>
        <%= link_to returns_path do %>
        <h4>Past Returns</h4>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
