<div class="flex-container">
  <%= simple_form_for [@return] do |f| %>
  <%= f.error_notification %>
    <div class="flex-item">
      <h1>Create a return</h1>
      <div class="notes">
        <abbr title="required">*</abbr> note are required fields.
      </div>
      <div class="flex-item col-md-4 col-lg-4">
       <h4 class="fs-title">Funai model</h4>
      <%= f.input :item_number, required: true, autofocus: true, hint: 'Aaron\'s item number reference.', input_html: {  min: "1000000000" }, placeholder: "1000000000" %>
      <%= f.input :store_number, require: true, input_html: { value: "#{current_user.store_number}" }, hint: 'Aaron\'s location the item belongs to.' %>
      <%= f.input :location_type, require: true, include_blank: false, collection: [options_for_select(location_type, location_type.rassoc("#{current_user.location_type}"))], hint: 'Pick up loction type.' %>
      <%= f.association :product, required: true, label_method: :model_number, label: "Model number", prompt: "Choose a product" %>
      <%= f.input :serial_number, required: true, autofocus: true, hint: 'Aaron\'s Funai serial #.', placeholder: "ME1A1234567890" %>
      <%= f.input :invoice_date, as: :date, html5: true, hint: 'Aaron\'s PO invoice date .'  %>
      <%= f.input :lease_date, as: :date, html5: true, hint: 'Aaron\'s inital lease date.' %>
      </div>
    </div>
    <div class="flex-item col-md-4 col-lg-4">
      <h4 class="fs-title">Return Reason</h4>
      <%= f.input :part_number, required: true, collection: ['Panel', 'Digital Main', 'Power Board', 'Other item'], prompt: "Choose a item"  %>
      <%= f.input :return_reason, required: true, collection: ['Unrepairable by servicer', 'Part Not Available', 'Concealed Damage', 'No Servicer Available'], prompt: "Choose a reason" %>
      <%= f.input :comment, required: true, autofocus: true, input_html: { placeholder: "Comment for the return reason"} %>
      <%= f.input :images,  as: :file, input_html: { multiple: true, name: "images[]" }, hint: "You may upload multiple photos. Accepted formats jpg jpeg gif png" %>
    </div>
    <div class="flex-item col-md-4 col-lg-4">
      <h4 class="fs-title">Pick up address</h4>
      <%= f.input :attention_name, required: true, label: "Contact Name", input_html: { value: "#{current_user.first_name} #{current_user.last_name}"  } %>
      <%= f.input :address, required: true, input_html: { value: "#{current_user.address}" } %>
      <%= f.input :address2, input_html: { value: "#{current_user.address2}" } %>
      <%= f.input :city, required: true, input_html: { value: "#{current_user.city}" } %>
      <%= f.input :state, required: true, collection: [options_for_select(us_states, us_states.rassoc("#{current_user.state}"))] %>
      <%= f.input :zip, required: true, input_html: { value: "#{current_user.zip}" } %>
      <%= f.country_select :country, required: true, selected: "#{current_user.country}", only: ["CA"], priority_countries: ["US"] %>
      <%= f.input :contact_number, required: true, input_html: { value: "#{current_user.phone_number}" } %>
      <%= f.input :special_comments, placeholder: "Instructions we may need." %>
      <div class="btn-section">
        <%= f.button :submit, "Submit", class: "btn btn-primary" %>
        <%= link_to 'Cancel', dashboard_path, class: "btn btn-warning" %>
      </div>
    </div>
  <% end %>
</div>
<div class="container-svg">
  <div class="row">
    <h1 class="text-center">Loading... Please wait..</h1>
    <div id="box">
      <div id="container">
        <div class="pip pip-1"></div>
        <div class="pip pip-2"></div>
        <div class="pip pip-3"></div>
      </div>
    </div>
  </div>
</div>

<script>
const btnSave = document.querySelector(".btn-primary");
const defaultSVG = document.querySelector(".container-svg");
const defaultFlex = document.querySelector(".flex-container");
const defaultAlert = document.querySelector(".alert");
btnSave.addEventListener('click', (event) => {
  defaultFlex.style.display = "none";
  defaultSVG.style.display = "initial";
});

</script>

