<div class="flex-container">
    <%= simple_form_for [@return] do |f| %>
      <%= f.error_notification %>
        <div class="flex-item">
          <h1>Create a return</h1>
        <div class="flex-item col-md-4">
         <h4 class="fs-title">Funai model</h4>
        <%= f.input :item_number, required: true, autofocus: true, hint: 'Aaron\'s item number reference.' %>


        <%= f.association :product, label_method: :model_number, label: "Model number", prompt: "Choose a product" %>


        <%= f.input :serial_number, required: true, autofocus: true, hint: 'Aaron\'s Funai serial #.' %>


        <%= f.input :invoice_date, as: :date, html5: true, hint: 'Aaron\'s PO invoice date .'  %>

        <%= f.input :lease_date, as: :date, html5: true, hint: 'Aaron\'s inital lease date.' %>
        </div>
        </div>
        <div class="flex-item col-md-4">
          <h4 class="fs-title">Return Reason</h4>
          <%= f.input :part_number, collection: ['Panel', 'Digital Main', 'Power Board', 'Other item']  %>


          <%= f.input :return_reason, collection: ['Unrepairable by servicer', 'Part Not Available', 'Concealed Damage', 'No Servicer Available']  %>


          <%= f.input :comment, required: true, autofocus: true %>

          <%= f.input :images,  as: :file, input_html: { multiple: true, name: "images[]" }, hint: "You may upload multiple photos." %>
        </div>
        <div class="flex-item col-md-4">
          <h4 class="fs-title">Pick up address</h4>
          <%= f.input :attention_name, required: true, input_html: { value: "#{current_user.first_name} #{current_user.last_name}"  } %>
          <%= f.input :address, required: true, input_html: { value: "#{current_user.address}" } %>
          <%= f.input :address2, input_html: { value: "#{current_user.address2}" } %>
          <%= f.input :city, required: true, input_html: { value: "#{current_user.city}" } %>
          <%= f.input :state, required: true, input_html: { value: "#{current_user.state}" } %>
          <%= f.input :zip, required: true, input_html: { value: "#{current_user.zip}" } %>
          <%= f.input :contact_number, required: true, input_html: { value: "#{current_user.phone_number}" } %>
          <%= f.input :special_comments, input_html: {placeholder: "Instructions we may need." } %>
          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
          <%= link_to 'Cancel', dashboard_path, class: "btn btn-warning" %>
      </div>
  <% end %>
</div>


