<div class="container">

  <h2>Item Number: <%= @return.item_number %></h2>
    <%= simple_form_for(@return) do |f| %>
    <%= f.error_notification %>
    <div class="form-horizontal">
      <div class="form-group col-md-4 col-sm-4 col-xs-6">
        <%= f.input :rma_status, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-6">
        <%= f.input :rma_number, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :model_number, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :serial_number, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :invoice_date, as: :date, html5: true, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :lease_date, as: :date, html5: true, readonly: true  %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :part_number, readonly: true  %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :return_reason, readonly: true %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :comment, readonly: true %>
        <%= link_to 'RMA Log', returns_path, class: 'btn btn-primary' %>
        <%= link_to 'Update item', edit_return_path(@return), class: 'btn btn-info' %>
        <%= link_to 'Cancel', dashboard_path, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
