<%= content_for(:title) do %>
Funai - Return <%= @return.item_number %>
<% end %>
<div class="container">
  <h2>Item Number: <%= @return.item_number %></h2>
    <%= simple_form_for(@return) do |f| %>
    <%= f.error_notification %>
    <div class="form-horizontal">
      <div class="form-group col-md-4 col-sm-4 col-xs-6">
        <%= f.input :rma_status, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-6">
        <%= f.input :rma_number, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.association :product, label_method: :model_number, label: "Model number", readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :serial_number, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :invoice_date, as: :date, html5: true, readonly: true %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-8">
        <%= f.input :lease_date, as: :date, html5: true, readonly: true  %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :part_number, readonly: true  %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :return_reason, readonly: true %>
      </div>

      <div class="form-group col-md-6 col-sm-8 col-xs-8">
        <%= f.input :comment, readonly: true %>
        <%= link_to 'RMA Log', returns_path, class: 'btn btn-primary' %>

        <%= link_to 'Update item', edit_return_path(@return), class: 'btn btn-info' %>

        <%= link_to 'Cancel', dashboard_path, class: "btn btn-warning" %>
      </div>
      <div class="form-group col-md-4 col-sm-8 col-xs-8">
        <h3 class="text-center">Photos</h3>
          <%  @return.images.each do |image| %>
              <%= cl_image_tag image.image, height: 150, width: 150 %>
            <!-- Modal -->
            <div class="modal fade" id="myModal-<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= @return.item_number %></h4>
                  </div>
                  <div class="modal-body">
                    <%= cl_image_tag image.image, height: 400, width: 570, crop: :fill %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <a type="button" data-toggle="modal" data-target="#myModal-<%= image.id %>">Show</a>
            <% if policy(image).destroy? %>
              <%= link_to "Delete", image_path(image), :method => :delete %>
             <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

