<div class="container">
<%= simple_form_for [:shipping, @return] do |f| %>
  <%= f.error_notification %>

  <h4 class="fs-title">Funai model</h4>
  <%= f.input :item_number, required: true, autofocus: true, hint: 'Aaron\'s item number reference.' %>
  <%= f.association :product, label_method: :model_number, label: "Model number", readonly: true %>
  <%= f.input :serial_number, required: true, readonly: true %>
  <%= f.input :rma_status, required: true, collection: ["RMA Approved, assigning shipping", "RMA Denied, please review again"]%>
  <%= f.input :rma_number, required: true %>
  <%= f.button :submit, "Submit", class: "btn btn-primary" %>
  <%= link_to 'Cancel', dashboard_path, class: "btn btn-warning" %>
  <% end %>
</div>


