<%= content_for(:title) do %>
Funai - Return <%= @return.item_number %>
<% end %>
<div class="container">
  <h2>Item Number: <%= @return.item_number %></h2>
    <div class="flex-item-show">
    <h4>RMA Status: <%= @return.rma_status %> || <%= @return.rma_number.nil? ? "No RMA # Assigned" :  @return.rma_number %> </h4>
    <h4>Shipping Method: <%= @return.return_carrier %> || <%= @return.return_tracking.nil? ? "Awaiting to be assigned" :  @return.return_tracking %></h4>
      <% if @return.rma_number.blank? %>
      <% else %>
        <% if @return.rma_status == "RMA Approved, assigning shipping" || @return.rma_status == "Pending, waiting on info" || @return.rma_status == "Updated Info, awaiting review" %>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" id="add-tracking">
            Add Tracking
          </button>
        <% end %>
      <% end %>
    </div>
  <div class="flex-container-show">
    <div class="flex-item-show">
      <h5> Contact</h5>
      <p>From: <%= @return.user.store_number %></br>
      <a href= "mailto:<%= @return.user.email %>"><%= @return.user.email %></a></p>

      <p>Submitted on: <%= @return.created_at.strftime("%m/%d/%Y") %></p>
    </div>

    <div class="flex-item-show">
      <h5>Model</h5>
      <p> Model: <%= @return.product.model_number %></p>
      <p> Serial: <%= @return.serial_number %></p>
      <p> Weight: <%= @return.product.weight %> lbs</p>
    </div>
    <div class="flex-item-show">
      <h5>Return Reason</h5>
      <p> Invoice Date: <%= @return.invoice_date.strftime("%m/%d/%Y") %></p>
      <p> Lease Date: <%= @return.lease_date.strftime("%m/%d/%Y") %></p>
      <p>Return Reason: <%= @return.return_reason %></p>
      <p>Part: <%= @return.part_number %></p>
      <p>Return Comment: <%= @return.return_reason %></p>
    </div>
  </div>
  <div class="flex-container-show">
    <div class="flex-item-show">
      <h5>Pickup Address</h5>
      <p> <%= @return.store_number %></br><%= @return.attention_name %></br>
       <%= @return.address %> <%= @return.address2 %> </br><%=  @return.city %> <%= @return.state %> <%= @return.zip %> <%= @return.country %></p>
      <p><%= @return.contact_number %></p>
      <p>Special Message: <%= @return.special_comments %></p>
    </div>
    <div class="flex-item-show">
      <h5>Return Location</h5>
      <p><%= @return.return_location.company %></br>
      <%= @return.return_location.attention_name %></br>
      <%= @return.return_location.address %>
      <%= @return.return_location.address2 %></br>
      <%= @return.return_location.city %>
      <%= @return.return_location.state %>
      <%= @return.return_location.zip %>
      <%= @return.return_location.country %></p>
      <p><%= @return.return_location.contact_number %></p>
    </div>
  </div>
  <h3>Photos</h3>
    <% if @return.images.empty? %>
      <p>No photos were included.</p>
    <% else %>
      <% @return.images.each do |image| %>
        <%= cl_image_tag image.image, height: 150, width: 150 %>
        <!-- Modal -->
        <div class="modal fade" id="myModal-<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= @return.item_number %></h4>
          </div>
          <div class="modal-body">
            <%= cl_image_tag image.image, height: 400, width: 570 %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <a type="button" href="" data-toggle="modal" data-target="#myModal-<%= image.id %>">Show</a>
    <% if policy(image).destroy? %>
      <%= link_to "Delete", image_path(image), method: :delete,
      data: { confirm: "Delete, are you sure?" } %>
    <% end %>
  <% end %>
<% end %>
  <% if @return.rma_number.blank?  %>
  <%= link_to 'Assign RMA', edit_shipping_return_path(@return), class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Shipping Dashboard', shipping_returns_path, class: "btn btn-default" %>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Tracking</h4>
      </div>
      <div class="modal-body">
        <div class="container">
        <%= simple_form_for [:shipping, @return] do |f| %>
          <%= f.error_notification %>
          <div class="col-md-4 col-lg-4 col-sm-6">
            <%= f.input :return_tracking, required: true %>
            <%= f.input :rma_status, required: true, collection: ["Completed, shipping assigned"] %>
            <%= f.input :rma_number, as: :hidden, input_html: { value: "#{@return.rma_number}" } %>
            <%= f.input :date_tracking, as: :hidden, input_html: { value: Date.today } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Submit", class: "btn btn-primary", id: "btn-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  const rmaStatus = document.getElementById('return_rma_status');
  const btnSubmit = document.getElementById('btn-submit');

  const rmaTrackingNumber = document.getElementById('return_return_tracking');

  btnSubmit.style.display = "none";
  rmaStatus.style.display = "none";
  rmaTrackingNumber.addEventListener('change', (event) => {
    if(rmaTrackingNumber.value === ""){
      alert('Cannot be blank, please assign a tracking #');
      console.log('Log check');
    } else {
      rmaStatus.style.display = "inline";
    }
  });

  rmaStatus.addEventListener('change', (event) => {
    if(rmaStatus.value === "Completed, shipping assigned"){
      btnSubmit.style.display = "inline";
    }
  });

</script>
